<dialog #dialog class="strain-dialog" (click)="onBackdropClick($event)">
  <div class="strain-inner" (click)="$event.stopPropagation()">

    <header class="strain-header">
      <div class="strain-header-title">
        <span class="material-symbols-outlined strain-header-icon">info</span>
        <span>{{ 'DIALOGS.STRAIN_TITLE' | translate }}</span>
      </div>
      <button class="strain-close" (click)="close()">
        <span class="material-symbols-outlined">close</span>
      </button>
    </header>

    <div class="strain-body">
      <p class="strain-intro">{{ 'DIALOGS.STRAIN_DESCRIPTION' | translate }}</p>

      <div class="strain-zones">
        <div class="strain-zone strain-zone--info">
          <div class="strain-zone-header">
            <span class="strain-zone-dot"></span>
            <span class="strain-zone-range">{{ 'DIALOGS.STRAIN_LOW_RANGE' | translate }}</span>
            <span class="strain-zone-label">{{ 'DIALOGS.STRAIN_LOW' | translate }}</span>
          </div>
          <p class="strain-zone-desc">{{ 'DIALOGS.STRAIN_LOW_DESC' | translate }}</p>
        </div>

        <div class="strain-zone strain-zone--good">
          <div class="strain-zone-header">
            <span class="strain-zone-dot"></span>
            <span class="strain-zone-range">{{ 'DIALOGS.STRAIN_MODERATE_RANGE' | translate }}</span>
            <span class="strain-zone-label">{{ 'DIALOGS.STRAIN_MODERATE' | translate }}</span>
          </div>
          <p class="strain-zone-desc">{{ 'DIALOGS.STRAIN_MODERATE_DESC' | translate }}</p>
        </div>

        <div class="strain-zone strain-zone--warn">
          <div class="strain-zone-header">
            <span class="strain-zone-dot"></span>
            <span class="strain-zone-range">{{ 'DIALOGS.STRAIN_HIGH_RANGE' | translate }}</span>
            <span class="strain-zone-label">{{ 'DIALOGS.STRAIN_HIGH' | translate }}</span>
          </div>
          <p class="strain-zone-desc">{{ 'DIALOGS.STRAIN_HIGH_DESC' | translate }}</p>
        </div>

        <div class="strain-zone strain-zone--bad">
          <div class="strain-zone-header">
            <span class="strain-zone-dot"></span>
            <span class="strain-zone-range">{{ 'DIALOGS.STRAIN_VERY_HIGH_RANGE' | translate }}</span>
            <span class="strain-zone-label">{{ 'DIALOGS.STRAIN_VERY_HIGH' | translate }}</span>
          </div>
          <p class="strain-zone-desc">{{ 'DIALOGS.STRAIN_VERY_HIGH_DESC' | translate }}</p>
        </div>
      </div>

      <div class="strain-tip">
        <span class="material-symbols-outlined strain-tip-icon">lightbulb</span>
        <p>{{ 'DIALOGS.STRAIN_TIP' | translate }}</p>
      </div>
    </div>
  </div>
</dialog>
