<dialog #dialog class="readiness-dialog" (click)="onBackdropClick($event)">
  <div class="readiness-inner" (click)="$event.stopPropagation()">

    <header class="readiness-header">
      <div class="readiness-header-title">
        <span class="material-symbols-outlined readiness-header-icon">info</span>
        <span>{{ 'DIALOGS.READINESS_TITLE' | translate }}</span>
      </div>
      <button class="readiness-close" (click)="close()">
        <span class="material-symbols-outlined">close</span>
      </button>
    </header>

    <div class="readiness-body">
      <p class="readiness-intro">{{ 'DIALOGS.READINESS_DESCRIPTION' | translate }}</p>

      <div class="readiness-zones">
        <div class="readiness-zone readiness-zone--excellent">
          <div class="readiness-zone-header">
            <span class="readiness-zone-dot"></span>
            <span class="readiness-zone-range">{{ 'DIALOGS.READINESS_EXCELLENT_RANGE' | translate }}</span>
            <span class="readiness-zone-label">{{ 'DIALOGS.READINESS_EXCELLENT' | translate }}</span>
          </div>
          <p class="readiness-zone-desc">{{ 'DIALOGS.READINESS_EXCELLENT_DESC' | translate }}</p>
        </div>

        <div class="readiness-zone readiness-zone--good">
          <div class="readiness-zone-header">
            <span class="readiness-zone-dot"></span>
            <span class="readiness-zone-range">{{ 'DIALOGS.READINESS_GOOD_RANGE' | translate }}</span>
            <span class="readiness-zone-label">{{ 'DIALOGS.READINESS_GOOD' | translate }}</span>
          </div>
          <p class="readiness-zone-desc">{{ 'DIALOGS.READINESS_GOOD_DESC' | translate }}</p>
        </div>

        <div class="readiness-zone readiness-zone--moderate">
          <div class="readiness-zone-header">
            <span class="readiness-zone-dot"></span>
            <span class="readiness-zone-range">{{ 'DIALOGS.READINESS_MODERATE_RANGE' | translate }}</span>
            <span class="readiness-zone-label">{{ 'DIALOGS.READINESS_MODERATE' | translate }}</span>
          </div>
          <p class="readiness-zone-desc">{{ 'DIALOGS.READINESS_MODERATE_DESC' | translate }}</p>
        </div>

        <div class="readiness-zone readiness-zone--low">
          <div class="readiness-zone-header">
            <span class="readiness-zone-dot"></span>
            <span class="readiness-zone-range">{{ 'DIALOGS.READINESS_LOW_RANGE' | translate }}</span>
            <span class="readiness-zone-label">{{ 'DIALOGS.READINESS_LOW' | translate }}</span>
          </div>
          <p class="readiness-zone-desc">{{ 'DIALOGS.READINESS_LOW_DESC' | translate }}</p>
        </div>
      </div>

      <div class="readiness-tip">
        <span class="material-symbols-outlined readiness-tip-icon">lightbulb</span>
        <p>{{ 'DIALOGS.READINESS_TIP' | translate }}</p>
      </div>
    </div>
  </div>
</dialog>
