<dialog #dialog class="acwr-dialog" (click)="onBackdropClick($event)">
  <div class="acwr-inner" (click)="$event.stopPropagation()">

    <header class="acwr-header">
      <div class="acwr-header-title">
        <span class="material-symbols-outlined acwr-header-icon">info</span>
        <span>{{ 'DIALOGS.ACWR_TITLE' | translate }}</span>
      </div>
      <button class="acwr-close" (click)="close()">
        <span class="material-symbols-outlined">close</span>
      </button>
    </header>

    <div class="acwr-body">
      <p class="acwr-intro">{{ 'DIALOGS.ACWR_DESCRIPTION' | translate }}</p>

      <div class="acwr-zones">
        <div class="acwr-zone acwr-zone--info">
          <div class="acwr-zone-header">
            <span class="acwr-zone-dot"></span>
            <span class="acwr-zone-range">{{ 'DIALOGS.ACWR_BUILDING_RANGE' | translate }}</span>
            <span class="acwr-zone-label">{{ 'DIALOGS.ACWR_BUILDING' | translate }}</span>
          </div>
          <p class="acwr-zone-desc">{{ 'DIALOGS.ACWR_BUILDING_DESC' | translate }}</p>
        </div>

        <div class="acwr-zone acwr-zone--good">
          <div class="acwr-zone-header">
            <span class="acwr-zone-dot"></span>
            <span class="acwr-zone-range">{{ 'DIALOGS.ACWR_OPTIMAL_RANGE' | translate }}</span>
            <span class="acwr-zone-label">{{ 'DIALOGS.ACWR_OPTIMAL' | translate }}</span>
          </div>
          <p class="acwr-zone-desc">{{ 'DIALOGS.ACWR_OPTIMAL_DESC' | translate }}</p>
        </div>

        <div class="acwr-zone acwr-zone--warn">
          <div class="acwr-zone-header">
            <span class="acwr-zone-dot"></span>
            <span class="acwr-zone-range">{{ 'DIALOGS.ACWR_CAUTION_RANGE' | translate }}</span>
            <span class="acwr-zone-label">{{ 'DIALOGS.ACWR_CAUTION' | translate }}</span>
          </div>
          <p class="acwr-zone-desc">{{ 'DIALOGS.ACWR_CAUTION_DESC' | translate }}</p>
        </div>

        <div class="acwr-zone acwr-zone--bad">
          <div class="acwr-zone-header">
            <span class="acwr-zone-dot"></span>
            <span class="acwr-zone-range">{{ 'DIALOGS.ACWR_OVERLOAD_RANGE' | translate }}</span>
            <span class="acwr-zone-label">{{ 'DIALOGS.ACWR_OVERLOAD' | translate }}</span>
          </div>
          <p class="acwr-zone-desc">{{ 'DIALOGS.ACWR_OVERLOAD_DESC' | translate }}</p>
        </div>
      </div>

      <div class="acwr-tip">
        <span class="material-symbols-outlined acwr-tip-icon">lightbulb</span>
        <p>{{ 'DIALOGS.ACWR_TIP' | translate }}</p>
      </div>
    </div>
  </div>
</dialog>
